@using SmartOrder.Web.ViewModels.Order
@model IEnumerable<OrderListViewModel>

<h2 class="mb-4">Преглед на поръчките</h2>
@if (!Model.Any())
{
    <p>Няма налични поръчки.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер на масата</th>
                <th>Статус</th>
                <th>Обща цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.TableNumber</td>
                    <td>@order.Status</td>
                    <td>@order.TotalPrice.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
