@using static SmartOrder.Common.ApplicationConstants
@{
    int currentYear = DateTime.UtcNow.Year;
    string footerNote = (ReleaseYear == currentYear) ?
        $"{currentYear}" : $"{ReleaseYear} - {currentYear}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmartOrder.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">SmartOrder</a>
                        }
                        else if (User.IsInRole("Manager"))
                        {
                            <a class="navbar-brand" asp-area="Manager" asp-controller="Home" asp-action="Index">SmartOrder</a>
                        }
                        else if (User.IsInRole("Waiter"))
                        {
                            <a class="navbar-brand" asp-area="Waiter" asp-controller="Home" asp-action="Index">SmartOrder</a>
                        }
                        else
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartOrder</a>
                        }
                    }
                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartOrder</a>
                    }
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a class="nav-link text-light" asp-area="Admin" asp-controller="Home" asp-action="Index">Аминистраторско табло</a>

                                    }
                                    else if (User.IsInRole("Manager"))
                                    {
                                        <a class="nav-link text-light" asp-area="Manager" asp-controller="Home" asp-action="Index">Мениджърско табло</a>
                                    }
                                    else if (User.IsInRole("Waiter"))
                                    {
                                        <a class="nav-link text-light" asp-area="Waiter" asp-controller="Home" asp-action="Index">Управление на поръчки</a>
                                    }
                                }
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>

    <div class="container my-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-white text-left py-2">
        <div class="container">
            &copy; @footerNote SmartOrder
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
